/* Global */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
  padding-bottom: 58px;
  min-height: 100vh;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  display: none;
}

/* Login - Register Page */

.login-illustration {
  max-height: 50vh;
}

.login-side {
  min-height: 100vh;
  background-color: #0051ff
}

.login-card {
  padding: 10vh 5vh;
}

.login-title{
  margin-bottom: 0;
  color: #0051ff
}

.login-title-explanation {
  text-align: center;
}



#login-error {
  color: red;
}

#register-error {
  color: red;
}

.input-group-text {
  background-color: #0051ff;
  color: white;
}

.input-group {
  width: 40vh;
  margin: 16px 0;
}

.to-login {
  color: #0051ff;
}

.to-login:hover {
  color: #009fff;
  cursor: pointer;
}

.login-btn {
  background-color: #0051ff;
  color: white;
  width: 100%;
}

.login-btn:hover {
  background-color: #009fff;
  color: white;
}

/* Landing Page */
.navbar {
  background-color: transparent !important;
  color: white;
}

.navbar.scrolled {
  background-color: #0051ff !important;
}

.nav-item {
  margin: 0 12px;
}

.btn-login {
  background-color: #0051ff;
  color: white;
  border: 0;
  border-radius: 10px;
  min-width: 15vh;
}

.btn-login:hover {
  background-color: #009fff;
}

/* Main Content */
.sidebar-title {
  margin-top: 16px;
  text-align: center;
}

.title-section {
  margin-top: 16px;
}

.news-content {
  margin-top: 16px;
  margin-right: 16px;
}

.card-covid-data {
  width: 25vh;
}

.increasing {
  color: green;
}

.decreasing {
  color: red;
}

#card-data-covid {
  text-align: right;
  margin-top: 16px;
}

/* Data RS Rujukan */
.emergency-content {
  max-width: 150vh;
  /* max-height: 100vh; */
}
.prov-btn {
  border: 0;
  background-color: #fff;
  color: #0051ff;
}

.province-list {
  max-height: 20vh;
  overflow-y: auto;
}

.covid-card {
  max-height: 23vh;
}

#rs-rujukan {
  margin-top: 16px;
  margin-left: 16px;
}

.table-rs {
  max-height: 60vh;
  overflow: scroll;
}

footer {
  text-align: center;
  background-color: #0051ff;
  color: #fff;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* position: fixed;
  z-index: 1; */
}

